html,body {
  height:100vh;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 50px;
  background: ivory;

}
.container .container-flex .row {
    height: 100vh;
    overflow: auto;
}
.col-md-12{
    border:2px solid blue;
    height100vh;
}
.col-md-9 {
    border: 1px solid black;
    background: white;
    text-align: left;
    height: 100vh;
    overflow: auto;
}

.col-md-3 {
    border: 1px solid black;
    background: white;
    text-align: center;
    height: 100vh;
    overflow: auto;
}
.headWrapper{
    display:flex;
    width:100%;
    height:25%;
}
.homeWrapper{
    display:flex;
    width:75%;
    height:100%;
    border: 2px solid black;
}
#homeBtn{
    display:flex;
    height:100%;
    width:100%;
    align-items: center;
}
.loginWrapper{
    display:flex;
    height:100%;
    width: 25%;
    justify-content:flex-end;
}

#loginBtn{
    display: flex;
    width: 25%;
    height: 25%;
    justify-content:center;
}
.sidebarElement{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:center;
    text-decoration:underline;
    color:#0056b3
}

table {
  padding: 50px;
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding-right: 75px;
  /* border-right: solid 1px #f00; */
}

.journal {
  padding-right: 150px;
}
