html,body {
  height:100vh;  
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 50px;  
}
/*
#wrapper {
  height: 100%;
  overflow: auto;
}
*/   
.container .container-flex .row .col-md-12 { 
    height: 100vh;
    overflow: auto;  
} 
.col-md-9 {
    border: 1px solid black;
    background: white;
    text-align: center;
    height: 100vh;
    overflow: auto;  
}

.col-md-3 {
    border: 1px solid black;
    background: white;
    text-align: center;
    height: 100vh;
    overflow: auto;  
}
#homeBtn{
    display: flex;
  align-items: center;
  justify-content: center;
}
#loginBtn{
display: flex;
  align-items: center;
  justify-content: center;
}
